<div class="homepage-main">


    <aside class="categories">
        <h2>Current Products</h2>
        <button class="category-names" value="1">
            <img src="/images/Produce.jpg">Produce
        </button>
        <button class="category-names" value="2">
            <img src="/images/Meat.jpg">Meat
        </button>
        <button class="category-names" value="3">
            <img src="/images/Seafood.jpg">Seafood
        </button>
        <button class="category-names" value="4">
            <img src="/images/Dairy.jpg">Dairy
        </button>
        <button class="category-names" value="5">
            <img src="/images/Snacks.jpg">Snacks
        </button>
        <button class="category-names" value="6">
            <img src="/images/Dry-Goods.jpg">Dry-Goods
        </button>
        <button class="category-names" value="7">
            <img src="/images/Canned-Goods.jpg">Canned-Goods
        </button>
        <button class="category-names" value="8">
            <img src="/images/Condiments.jpg">Condiments
        </button>
        <button class="category-names" value="9">
            <img src="/images/Bakery.jpg">Bakery
        </button>
        <button class="category-names" value="10">
            <img src="/images/Cereal.jpg">Cereal
        </button>
        <button class="category-names" value="11">
            <img src="/images/Frozen-Goods.jpg">Frozen-Goods
        </button>
    </aside>

    {{!-- <p>make if then statement to say login to see prices</p> --}}
    <div class="main-homepage-content">
        <div class="convert">
            <p>Click to show prices in USD</p>
            <a href="/"><button id="convert-currency">$</button></a>
        </div>

        <div class="card-container">
            {{!-- Show current products as cards. If logged in, show prices, otherwise do not show prices. --}}
            {{#each products as |product|}}
            <div class="card" value="{{id}}">
                <h3 class="product-name">{{product_name}}</h3>
                <p class="product-description">{{description}}</p>
                <p class="product-price">€ {{convertedPrice}} </p>
                <p class="product-category">{{category.category_name}}</p>
                <img src="/images/{{category.category_name}}.jpg">
            </div>
            {{/each}}
        </div>
    </div>
    <div>{{convertedPrice}}</div>
</div>
<script src="/js/homepage.js"></script>