<div class="categories">
<h2>Current Products</h2>
<button class="category-names" value="1">Produce</button>
<button class="category-names" value="2">Meat</button>
<button class="category-names" value="3">Seafood</button>
<button class="category-names" value="4">Dairy</button>
<button class="category-names" value="5">Snacks</button>
<button class="category-names" value="6">Dry-Goods</button>
<button class="category-names" value="7">Canned-Goods</button>
<button class="category-names" value="8">Condiments</button>
<button class="category-names" value="9">Bakery</button>
<button class="category-names" value="10">Cereal</button>
<button class="category-names" value="11">Frozen-Goods</button>

</div>
  {{!-- <p>make if then statement to say login to see prices</p> --}}

<div class="card-container">
  {{!-- Show current products as cards. If logged in, show prices, otherwise do not show prices. --}}  
    {{#each products as |product|}}
      <div class="card">
        <p class="product-id">Product id: {{id}}</p>     
        <h3 class="product-name">{{product_name}}</h3>     
        <p class="product-description">{{description}}</p>     
        <p class="product-price">$ {{price}} </p>     
        <p class="product-category">{{category.category_name}}</p>  
      </div>      
    {{/each}}    
</div>

<script src="/js/homepage.js"></script>





