<div class="profile-section">
    <h2>Welcome, {{username}}!</h2>
    <div id="user-id">{{id}}</div>

    <div class="card-container">    
        {{#each products as |product|}}
            <div class="card">
                <p class="product-id">Product id: {{id}}</p>     
                <h3 class="product-name">{{product_name}}</h3>     
                <p class="product-description">{{description}}</p>     
                <p class="product-price">$ {{price}} </p>     
                <p class="product-category">{{category.category_name}}</p>  
            </div>      
        {{/each}}   
    </div>

    {{!-- {{#if projects.length}}
        <h3>Current Projects:</h3>

        {{#each projects as |project|}}
        <div class="row mb-2">
        <div class="col-md-8">
            <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
        </div>
        </div>
        {{/each}}

    {{/if}} --}}

    <h3>Create a New Product:</h3>

    {{!-- Make categories alphabetical --}}

    <form id="new-product">
      <div class="form-section">
        <label for="product-name">Product name:</label>
        <input type="text" id="product-name" name="product-name" />
      </div>
      <div class="form-section">
        <label for="product-description">Product Description</label>
        <textarea class="form-input" id="product-description" name="product-description"></textarea>
      </div>
      <div class="form-section">
        <label for="price">Price</label>
        <input class="form-input" id="price" name="price"></input>
      </div>
      <div class="form-section">
        <label for="product-category">Category</label>
        <select id="product-category" name="product-category">
            <option value="1">Produce</option>
            <option value="2">Meat</option>
            <option value="3">Seafood</option>
            <option value="4">Dairy</option>
            <option value="5">Snacks</option>
            <option value="6">Dry-Goods</option>
            <option value="7">Canned-Goods</option>
            <option value="8">Condiments</option>
            <option value="9">Bakery</option>
            <option value="10">Cereal</option>
            <option value="11">Frozen-Goods</option>
        </select>
      </div>
      <div class="form-section">
        <button class="product-create-btn">List a new product</button>
      </div>
    </form>
  </div>



<script src="./js/profile.js"></script>